/******************************************
*
*		OWOX! Stylesheet
*		
*
*******************************************/

/*------------------------------------------
*	Base
-------------------------------------------*/

*{box-sizing: border-box;}

html {
	background: #e6f2ff;
	height: 100%;
}

body {
	background-color: white;
	font-family: Arial, sans-serif;
	font-size: 16px;
	max-width: 1200px;
	min-height: 2030px;
	min-width: 400px;
	margin: 0 auto;
	overflow-x: hidden;
	padding: 10px 1.5%;
}

header, main, footer{
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.3;
	margin: 0;
}

ul{
	margin: 0;
	list-style-type: none;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
	line-height: 1.3;
}

a{
	color: #105a8f;
	font-family: 'arial';
	/*transition: 0.2s ease-in-out;*/
}

a:active,
a:hover,
a:focus {
	color: #d10000;
	text-decoration: none;
}

figure {
	margin: 0;
	padding: 0;
}

submit, button {
	-webkit-appearance: none;/*Remove Safari mobile rounded coners*/
}

/*------------------------------------------
*	Clearfix
-------------------------------------------*/

.clearfix::before, .clearfix::after{
  content: "";
  display: table;
}

.clearfix::after{
	clear: both;
}

/*------------------------------------------
*	Button-Skew
-------------------------------------------*/

.button-skew {
	background: #fff;
	border: solid 1px #ccc;
	border-radius: 5px 1px;	
	font-size: 15px;
	font-weight: bold;
	line-height: 1.3;
	-ms-transform: skewX(-17deg); /* IE 9 */
    -webkit-transform: skewX(-17deg); /* Safari */
    transform: skewX(-17deg); /* Standard syntax */
	width: 120px;
}

.button-skew-link {
	display: block;
	height: 100%;
	padding: 2px 0 2px 5px;
	-ms-transform: skewX(17deg); /* IE 9 */
    -webkit-transform: skewX(17deg); /* Safari */
    transform: skewX(17deg); /* Standard syntax */
	width: 100%; 	
}

.button-skew-link::after {
	background:	url(../images/arrow-icon.jpg) no-repeat bottom; 
	background-size: 20px;	
	content:" ";
	display: inline-block;
	padding-left: 10px;
	height: 10px;  
    width: 20px; 
}

.button-skew:hover, .button-skew:focus {
	border: solid 1px #999;	
}

/*------------------------------------------
*	Header
-------------------------------------------*/

.head{
	background: linear-gradient(to bottom, #fff 10%, rgba(240, 240, 245, 1), #fff) no-repeat;	
	left: -1.7%;
	padding: 0 1.75% 20px 1.75%;
	position: relative;
	width: 103.5%;
}

/*------------------------------------------
*	Head Top
-------------------------------------------*/

.head-top{
	margin-bottom: 10px;
}

/*------------------------------------------
*	Logo
-------------------------------------------*/

.logo{	
	background: url(../images/livelink-shop-logo.png) no-repeat;
	background-size: contain;
	float: left;
	height: 90px;
	width: 180px;	
}

.logo-link{
	display: block;
	width: 100%;
	height:100%;
	text-indent: -9999px;
}

/*------------------------------------------
*	Search
-------------------------------------------*/

.search{ 
	float: left;
	font-family: arial, sans-serif;
	margin-left: 4%;
}

.search-info {
	font-size: 1.4em;	
	font-style: italic;
	margin-bottom: 15px;
}

.search-info-phone{
	font-size: 1.4em;
	font-weight: bold;
}

.search-info-link{
	border-bottom: dotted 1px;
	font-size: 13px;
	font-weight: bold;
	margin-left: 5px;
	text-decoration: none;
	vertical-align: 1.5em;
}

.search-info-link:hover{
	border-bottom-width: 0;
}

.search-form{
	position: relative;
}

.search-form-input {
    border: 1px solid #d9d9d9;
    border-radius: 4px 2px;
	box-shadow: inset 1px 1px 1px #ebebeb;
	font-size: inherit;
	padding: 2px 54px 2px 6px;
	-ms-transform: skewX(-17deg); /* IE 9 */
    -webkit-transform: skewX(-17deg); /* Safari */
    transform: skewX(-17deg); /* Standard syntax */	
	width: 100%;
}

.search-form-input::placeholder{
	color: #aaa;
	font-style: italic;
	-ms-transform: skewX(17deg); /* IE 9 */
    -webkit-transform: skewX(17deg); /* Safari */
    transform: skewX(17deg); /* Standard syntax */	
}

.search-form-submit {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 20%, rgba(205, 205, 205, 0.2), rgba(255, 255, 255, 0.2) 90%) no-repeat, url(../images/enter-arrow.jpg) center no-repeat;
	/*background-position: 10px bottom, 0 0;*/
	background-size: contain, 20px 10px;	
	border: 1px solid #d9d9d9;
    border-radius: 4px 2px;
	cursor: pointer;
	font-size: inherit;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 2px;
	top: 2px;
	-ms-transform: skewX(-17deg); /* IE 9 */
    -webkit-transform: skewX(-17deg); /* Safari */
    transform: skewX(-17deg); /* Standard syntax */
	width: 48px;
}

/*------------------------------------------
*	Online-Help
-------------------------------------------*/

.online-help{
	background: url(../images/online-consultation.gif) center no-repeat;
	background-position: -12px 0;
	background-size: 118px;
	border: 1px solid #5278a2;
	float: left;
	height: 90px;
	margin-left: 7%;
	opacity: 0.8;
	width: 102px;	
}

.online-help-link{
	display: block;
	width: 100%;
	height:100%;
	text-indent: -9999px;
}

/*------------------------------------------
*	Head Top Right
-------------------------------------------*/

.head-top-right{
	float: right;
}

/*------------------------------------------
*	Entrance
-------------------------------------------*/

.entrance-link{
	border-bottom: dotted 1px;
    font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}

.entrance-link:hover{
	border-width:0;
}

.entrance-link span:last-child{
	display:none;
}

.entrance-link::before{
    content: " ";
	background: url(../images/N8240EC9D00EA.jpg) no-repeat; 
    background-size: contain; /* %; em; px; auto; cover; contain;*/
	float: left;
	height: 20px;  
    width: 20px; 
}

/*------------------------------------------
*	buscket
-------------------------------------------*/

.buscket {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 1px -1px 0px #eee;
	float: right;
	height: 3.125em;
	margin-top: 22px;
	position: relative;
	width: 13em;
}

.buscket-quantity {
	background: #f9f9fb;
	border: 1px solid #fd6c6d;
	border-radius: 50%;
	color: red;
	font-family: 'arial', sans-serif;
	font-size: 20px;
	font-weight: 800;
	height: 1.1em;
	left: 8.5%;
	line-height: 1em;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	text-align: center;
	/*text-indent: 0.25em;*/
	width: 1.1em;
	z-index: 1;	
}

.buscket-link {
	font-size: 1.5em;
	font-style: italic;
	font-weight: 900;
	display: block;
	height: 100%;
	line-height: 1.75em;
	padding: 0;
	text-align: center;
	width: 100%;	
}

.buscket-link::before {
	background: url(../images/shopping-cart-1_318-10653.jpg) no-repeat; 
    background-size: contain;	
    content: " ";  
    display: block;
	float: left;
	height: 1.2em;
	margin-left: 5%;
	opacity: 0.7;
	position: relative;
	top: 18%;
    width: 1.5em;	
}

.buscket-link::after {
    content: " ";  
	display: block;
	float: right;
	margin-right: 5%;
	position: relative;
	top: 35%;
	
	/*----------
	*	Triangle
	--------------*/	
	border-right: 0.25em solid transparent;
	border-left: 0.25em solid transparent;
	border-top: 0.5em solid #105a8f; /*rgba(16, 90, 143, 0.7)*/
	width: 0;
	height: 0;
}

.buscket:hover, .buscket:focus {
	border-color: #aaa;
	box-shadow: none;
}

.buscket-link:hover::after, .buscket-link:focus::after {
	transform: rotate(180deg);
}

/*------------------------------------------
*	Head Navigation
-------------------------------------------*/

.head-navigation {
	margin: 0;
	padding: 0;
}

.head-navigation .menu {
	font-size: 0.8125em;
}

/*------------------------------------------
*	Menu
-------------------------------------------*/

.menu-item {
	float: left;
	margin: 0;
	padding: 5px 0.5%;
}

.menu-item-link {	
	display: block; 
	height: 100%;
	text-align: left;
	width: 100%; 	
}

.question::before {
	background: url(../images/sign-question-icon_34359.png) no-repeat; 
    background-size: contain;
    content: " "; 
	display: block;
	float: left;
	height: 1.384615em;
	position: relative;
	top: -0.1em;
    width: 1.384615em; 
}  

/*------------------------------------------
*	Content
-------------------------------------------*/


/*------------------------------------------
*	Main Navigation (main)
-------------------------------------------*/

.main-navigation { 
	background: #0d5e92;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 0 3px;
}

/*------------------------------------------
*	Drop Navigation (main)
-------------------------------------------*/

.dropnav{ /*ul*/
	position: relative;
	background-color: inherit;
}

.dropnav-item { /*ul li*/
	border-left: 1px solid #32729a;
	float: left;
	width: 16.66%;	
}

.dropnav  a, .dropnav-item-link {	/*ul a*/
	color: #fff;
	display: inline-block;
	height: 100%;
	font-weight: bold;
	padding: 10px 0 10px 15px;	
	text-align: left;
	text-decoration: none;    	
	width: 100%;
}

/*--Close button for mobile menu--*/
.closeBtn { 
	display: none;
	width: 50px;
}

.closeBtn-link {
	padding: 0;
	font-size: 1.5em;
	text-align: center;
}

.closeBtn-link:hover, .closeBtn-link:focus {
	background: #006cb3;
}
/*---------------------------------*/

.dropnav-item:nth-child(2) {
	border: 0;
	padding-left: 1.5%;
}

.dropnav-item-link {
	position: relative;
}

.dropnav-item-link::after {
    content: " ";  
	position: absolute;
	right: 2%;
	top: 35%;
	
	/*----------
	*	Triangle
	--------------*/		
	border-left: 0.4em solid transparent;
	border-right: 0.4em solid transparent;
	border-top: 0.8em solid #5e93b5;	
	height: 0;
	width: 0;
}

.dropnav-item:hover .dropnav-item-link::after , .dropnav-item:focus .dropnav-item-link::after{
	transform: rotate(180deg);
}

.dropnav-item-content { 
	background: #006cb3;
	display: none;
	position: absolute;	
	z-index: 2;
}

.dropnav-item:nth-child(2) .dropnav-item-content {
	left: 0; /*related to dropnav*/
}

.dropnav-item:last-child .dropnav-item-content {
	right: 0; /*related to dropnav*/
}

.dropnav-item:hover .dropnav-item-content, .dropnav-item:focus .dropnav-item-content {
    display: block;
}

.dropnav-item-content a:hover{
	background: #001cb3;
}

/*------------------------------------------
*	mobnav (Mobile Navigation, main)
-------------------------------------------*/

.mobnav {
	display: none;
}

.mobnav-item.dropnav-item {
	background: #fff;
	margin: 8px;
	float: left;	
	width: 250px;
}

.mobnav-item a{
	color: blue;
	padding: 3px 5px;
}

.openBtn{
	display: none; /*For .sales-nav*/
	float: right;
	margin: 8px;	
}

.openBtn-link {
	background: url(../images/icon_nav.png)  no-repeat center;
	background-size: 36px 24px;
	border-radius: 4px;
	display: block;
	height: 24px;
	margin:0;
	padding:0;
	text-indent: -9999px;
	width: 30px;
}

/*------------------------------------------
*	Info
-------------------------------------------*/

.info{
	margin: 0 0 20px 0;
	padding: 0;
}

/*------------------------------------------
*	Info-Box
-------------------------------------------*/

.info-box { /*main section.info section.info-box*/
	float: left;
	width: calc(590px + 172px);
}

/*------------------------------------------
*	Panels
-------------------------------------------*/

.panels { 
	height: 240px;
	margin: 0;
	padding: 0;
	position: relative;
}

.panels-button{
	background: radial-gradient(ellipse farthest-corner at left top, #24b3cd, #5f0378);
	border: 1px solid #534157;
	border-radius: 4px;
	height: 40px;
	width: 250px;
	line-height: 40px;
}

.panels-button-link{
	border: 0;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-weight: bold;
	height: 100%;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

.panels-button-link:hover, .panels-button-link:focus{
	  border: solid 1px #777;
}

.panel {
	background: url(../images/server1_bckgrnd.jpg) no-repeat,
				url(../images/server2_bckgrnd.jpg) no-repeat, 
				radial-gradient(ellipse farthest-corner at 55% 10%, #fff 60%, #98e2ee, #fff 120%); 
	background-position: 400px bottom, 590px 50px, 0 0;
	background-size: 150px, 150px, contain;	
	border: 7px solid #689cbe;
	border-radius: 5px;
	height: 100%;
	left: 0;
	overflow: hidden;
	padding-left: 30px;
	position: absolute;
	top: 0;
	width: 100%;	
}

.panel h2{
	color: #623bc6;
	max-width: 400px;
	margin: 10px 0;
}

.panel:nth-child(2) p{
	max-width: 280px;
	margin: 10px 0;
}

.panel.is-active {
	z-index: 1;
}

/*------------------------------------------
*	Panels Navigation
-------------------------------------------*/

.panels-nav { 
	list-style-type: none;
	margin: 0; 
	padding-left: 10px;
	position: relative;
	top: -7px;
	z-index: 1;
}

.panels-nav-item {
	float: left; 
	margin-right: 2px;
	width: 20px;
}

.panels-nav-item-link {
	background-color: #689cbe;
	border: 2px solid #689cbe;
	border-radius: 0 0 5px 5px;
	border-top: 0;
	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: bold;
	line-height: 2;
	text-align: center;
	text-decoration: none;
	width: 100%;	 
}

.panels-nav-item-link:focus, .panels-nav-item-link:hover {
  background-color: white;
  color: red;
}

.panels-nav-item.is-active  .panels-nav-item-link{
  background-color: white;
  color: red;
}

/*------------------------------------------
*	Info-Aside
-------------------------------------------*/

.info-aside{ 
	float: right;
	padding: 0 3% 0 4%;
	width: calc(100% - 590px - 172px);
}

.info-aside h2{
	color: red;
	font-style: italic;
	margin-bottom: 15px;
}

.discount {
	font-size: 13px;
}

.discount-item {
	margin-bottom: 25px;
}

.discount-item::before{
    content: " "; 
	display: block;
	float: left;
	height: 35px;
	padding-right: 20px;
    width: 35px; 	
}

.discount-item:first-child::before{
	background: url(../images/logo-kaspersky.jpg) no-repeat; 
	background-size: contain;	 
}

.discount-item:nth-child(2)::before{
	background: url(../images/ABBYY-Finereader-icon.png) no-repeat; 
	background-size: contain;	 
}

.discount-item:last-child::before{
	background: url(../images/microsoft-logo.jpg) no-repeat; 
	background-size: contain;	 
}

/*------------------------------------------
*	Sales
-------------------------------------------*/

.sales {
	margin-bottom: 20px;
	padding: 0;
	position: relative;
}

/*------------------------------------------
*	Sales-Nav
-------------------------------------------*/

.sales-nav {
	position: relative;
	top: 1px;
	z-index: 2;
}

.sales-nav-item {
	float: left;
}

.sales-nav-item:focus, .sales-nav-item:hover {
	border: 1px solid #689cbe;
	border-radius: 5px 5px 0 0;
	border-bottom: 0;
	background-color: white;
	color: #d10000;
}

.sales-nav-item-link {
	color: #105a8f;
	display: block;
	float: left;
	font-family: 'arial', sans-serif;
	font-style: oblique;
	font-size: 18px;
	font-weight: 900;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
}

.sales-nav-item-link span{
	border-bottom: 1px dotted #105a8f;
}

.sales-nav-item-link:hover  span, .sales-nav-item-link:focus  span{
	border: 0;
}

.sales-nav-item.is-active {
	background: linear-gradient(to bottom, #fff, #ededed, #fff);
	border: 1px solid #689cbe;
	border-bottom: 0;
	border-radius: 5px 5px 0 0;
}

.sales-nav-item.is-active .sales-nav-item-link {
	color: #d10000;
}

.sales-nav-item.is-active  span{
	border: 0;
}

/*------------------------------------------
*	Sales-Mobnav
-------------------------------------------*/

.sales-mobnav {
	background: #ededed;
	border-radius: 4px;
	display: none;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 3;
}

.sales-mobnav-item {
	padding: 5px 5px 5px 30px;
	width: 280px;
}

.sales-mobnav-item:hover {
	background: #aaa;
}

.sales-mobnav-item a{
	display: block;
	font-weight: bold;
	height: 100%;
	width: 100%
}

.sales-mobnav-item:hover  a{
	color: #fff;
}

/*------------------------------------------
*	Sales-Panels
-------------------------------------------*/

.sales-panels {
	position: relative;
	height: 340px;
}

.sales-panel {
	background-color: white;
	border: 1px solid #689cbe;
	border-radius: 5px;
	height: 100%;
	left: 0;
	padding-left: 41px;  /*For touch event*/
	padding-right: 41px; /*For touch event*/
	padding-top: 5px;
	position: absolute;
	top: 0;
	width: 100%;
}

.sales-panel.is-active {
	z-index: 1;
}

.sales-panel:first-child.is-active {
	border-top-left-radius: 0;
}

.sales-panel .button-skew {
	position: absolute;
	right: 5%;
	
}

/*------------------------------------------
*	Special Offer Panel 
-------------------------------------------*/

.special-offer .button-skew  {
	width: 220px;
}

/*------------------------------------------
*	Prev, Next buttons
-------------------------------------------*/

.prev, .next {
	background: transparent;
	cursor: pointer;
	font-size: 50px;
	opacity: 0.3;
	position: absolute;
	text-decoration: none;
	top: 30%;
}

.prev:hover, .next:hover,
.prev:active, .next:active, 
.prev:focus, .next:focus {
  color: #105a8f
}

.prev.is-active, .next.is-active {
	opacity: 1;
}

.next {
	left: 5px;
}

.prev {
	right: 5px;
}

/*------------------------------------------
*	Offer
-------------------------------------------*/

.special-offer-content {
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.special-offer-content.sliding {
    border: thin solid orange;
}

.offer {
	height: 100%;
	/*overflow: hidden;*/
	margin-top: 40px;
	/*width: 100%;*/
}

.offer-item {
	float: left;
	height: 293px;
	left: 0;
	padding: 10px 15px;
	position: relative;
	width: 215px;
}

.offer-item.absolute {
	left: -550px;
	position: absolute;
}

.attention {
	background: #d10000;
	border-radius: 50%;
	font-style: italic;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	height: 32px;
	left: 0px;
	line-height: 30px;
	padding: 1px 4px;
	position: absolute;
	top: 4px;
	transform: rotate(-15deg);
	z-index: 1;
}

.offer-img {
	padding-bottom: 10px;
	position: relative;
	height: 160px;
}

.offer-img img {
	left: 50%;
	position: relative;
	transform: translateX(-50%);
	width: 160px;
}

.offer-img figcaption {
	bottom: 10px;
	color: #d10000;
	font-size: 12px;
	position: absolute;
}

/*-------------------
*	Tooltip container 
---------------------*/

.tooltip-container {
    /*position: relative;*/
    /*display: block;*/
}

.tooltip {
	background: url(../images/computer_bag.jpg) no-repeat,
				url(../images/mouse_wireless.jpg) no-repeat, 
				#fff; 
	background-position: center 5px, center 60px, 0 0;
	background-size: 50px, 60px, contain;	
	border: 1px solid #e46d6d;
	border-radius: 6px;
    color: #000;
	height: 100px;
	position: absolute;
	right: -5px;
	text-indent: -9999px;
	top: -5px;
    width: 60px;
	z-index: 1;  
}

.tooltip::before { 
	border-color: transparent #e46d6d transparent transparent;
	border-style: solid;
	border-width: 6px 10px;
	content: "";
	left: -20px;
    position: absolute; 
    top: 20px;
} 

.tooltip::after { 
	border-color: transparent #fff transparent transparent;
	border-style: solid;
	border-width: 5px 9px;
	content: "";
	left: -18px;
    position: absolute; 
    top: 21px;
} 

.offer-link {
	display: block;
	font-size: 13px;
	font-weight: bold;
	padding: 5px 0;
}

.previuos-price {
	color: #999;
	font-size: 13px;
	font-weight: 700;
	padding: 5px 0;	
	text-decoration: line-through;
}

.to-buscket {
	background: linear-gradient(to bottom, #fff 20%, #f2f3f3, #fff);
	border-radius: 6px 2px;
	border-width: 1px;
	font-weight: 700;
	left: -8px;
	padding-left: 10px;
	padding-right: 35px;
	position: relative;
	text-align: left;
	transform: skewX(-15deg);
}

.to-buscket span {
	font-size: 18px;
}

.to-buscket::after{
	background: url(../images/shopping-cart-1_318-10653.jpg) no-repeat; 
    background-size: contain;	
    content: " ";  
    display: block;
	height: 16px;
	right: 8px;
	position: absolute;
	top: 15%;
    width: 18px;	
}

.to-buscket:hover, .to-buscket:focus{
	border-color: #aaa;
	cursor: pointer;
	box-shadow: none;
}


.dollar-price{
	color: #999999;
	font-size: 11px;
}


/*------------------------------------------
*	Bestsellers Panel 
-------------------------------------------*/

.bestsellers .button-skew {
	width: 170px;
}

/*------------------------------------------
*	New-Product Panel 
-------------------------------------------*/

.new-product .button-skew {
	width: 135px;
}

/*------------------------------------------
*	Soon Panel 
-------------------------------------------*/

.soon .button-skew {
	width: 180px;
}

/*------------------------------------------
*	Brands
-------------------------------------------*/

.brands{
	border-bottom: 1px solid #ccc;
	margin: 40px 0;
	padding: 0 0 40px 0;
}

.brands .button-skew {
	float: right;
	margin-right: 5%;
	width: 185px;
}

.brands>h5{
	margin-top: 0;
}

/*------------------------------------------
*	Brands-Block
-------------------------------------------*/

.brands-block { 
	margin: 0 0 40px 0;
	padding: 0;
	position: relative;
}

.brands-subblock {
	float: left;
	width: 50%;
}

.brands-button-block { 
	margin: 0;
	float: left;
	width: 50%;
	height: 128px;
}

.brands-button {
	border: 0; /*For Safari*/
	border-image: linear-gradient(to bottom, #fff, #ccc) 1 100%; 
	border-right: 1px solid #ccc;
	float: left;
	height: 64px;
	padding: 0;
	width: 50%;
}

.brands-button:nth-child(3), 
.brands-button:nth-child(4){
	border-image: linear-gradient(to top, #fff, #ccc) 1 100%; 
}

.brands-subblock:last-child .brands-button-block:last-child .brands-button:nth-child(2n){
	border-right: 0;
}

.brands-button-link{
	display: block;
	height: 100%;
	line-height: 64px;
	margin: 0;
	padding: 0;
	text-indent: -9999px;
	width: 100%;
}

.brands-button-link:hover, .brands-button-link:focus{
	border: 1px solid #ccc;
}

.brands-button:nth-child(1) a,.brands-button:nth-child(2) a{
	border-bottom: 1px solid #ccc;
}

.brands-subblock:first-child .brands-button-block:nth-child(1) .brands-button:nth-child(1) a{
	background: url(../images/att_logo.png) center no-repeat;
	background-size: 6em;
}

.brands-subblock:first-child .brands-button-block:nth-child(1) .brands-button:nth-child(2) a{
	background: url(../images/toshiba-logo.png) center no-repeat;
	background-size: 7em;
}

.brands-subblock:first-child .brands-button-block:nth-child(1) .brands-button:nth-child(3) a{
	background: url(../images/ibm-logo.png) center no-repeat;
	background-size: 4em;
}

.brands-subblock:first-child .brands-button-block:nth-child(1) .brands-button:nth-child(4) a{
	background: url(../images/dell-logo.png) center no-repeat;
	background-size: 5em;
}

.brands-subblock:first-child .brands-button-block:nth-child(2) .brands-button:nth-child(1) a{
	background: url(../images/apple-logo.png) center no-repeat;
	background-size: 2.3em;
}

.brands-subblock:first-child .brands-button-block:nth-child(2) .brands-button:nth-child(2) a{
	background: url(../images/microsoft-logo.png) center no-repeat;
	background-size: 6em;
}

.brands-subblock:first-child .brands-button-block:nth-child(2) .brands-button:nth-child(3) a{
	background: url(../images/intel-logo.png) center no-repeat;
	background-size: 4em;
}

.brands-subblock:first-child .brands-button-block:nth-child(2) .brands-button:nth-child(4) a{
	background: url(../images/amd_logo.png) center no-repeat;
	background-size: 6em;
}

.brands-subblock:last-child .brands-button-block:nth-child(1) .brands-button:nth-child(1) a{
	background: url(../images/cisco_logo.png) center no-repeat;
	background-size: 4em;
}

.brands-subblock:last-child .brands-button-block:nth-child(1) .brands-button:nth-child(2) a{
	background: url(../images/panasonic-logo.png) center no-repeat;
	background-size: 6em;
}

.brands-subblock:last-child .brands-button-block:nth-child(1) .brands-button:nth-child(3) a{
	background: url(../images/lenovo-logo.png) center no-repeat;
	background-size: 6em;
}

.brands-subblock:last-child .brands-button-block:nth-child(1) .brands-button:nth-child(4) a{
	background: url(../images/asus-logo.png) center no-repeat;
	background-size: 5em;
}

.brands-subblock:last-child .brands-button-block:nth-child(2) .brands-button:nth-child(1) a{
	background: url(../images/nokia-logo.png) center no-repeat;
	background-size: 5em;
}

.brands-subblock:last-child .brands-button-block:nth-child(2) .brands-button:nth-child(2) a{
	background: url(../images/sumsung-logo.png) center no-repeat;
	background-size: 7em;
}

.brands-subblock:last-child .brands-button-block:nth-child(2) .brands-button:nth-child(3) a{
	background: url(../images/nec-logo.png) center no-repeat;
	background-size: 4em;
}

.brands-subblock:last-child .brands-button-block:nth-child(2) .brands-button:nth-child(4) a{
	background: url(../images/kaspersky-logo.jpg) center no-repeat;
	background-size: 6.5em;
}

/*------------------------------------------
*	Brandnames-Block
-------------------------------------------*/

.brandnames-block { 
	margin: 0;
	padding: 0;
}

.brandnames-subblock{ 
	margin: 0;
	padding: 0;
	float: left;
	width: 25%;
}

.brandnames {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 0.75em;
	width: 50%;
	float: left;
}
.brandnames-item {
	padding: 3px 0;
}
.brandnames-item a:hover, .brandnames-item a:focus{
	color: red;
}

/*------------------------------------------
*	Articles
-------------------------------------------*/

.articles {
	background: linear-gradient(to bottom, #fff 93%, rgba(198, 198, 236, 1));
	border: 0;
	border-bottom: 3px solid #333399;
	margin: 40px 0;
	padding: 0 0 40px 0;
}

.articles .button-skew {
	float: right;
	width: 220px;
}

.articles-block { 
	font-size: 0.8em;
	margin-top: 20px;
	padding: 0;
}

.articles-block > article{ 
	float: left;
	margin: 0;
	padding: 0 1em 0 0;
	width: 25%;	
}

.articles-block  > article figure{
	height: 150px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-align: center;
	width: 100%;	
}

.articles-block  > article figure img{
	max-height: 130px;
	max-width: 80%;
}

.articles-block  > article h4{
	margin: 0;
}

/*------------------------------------------
*	Footer
-------------------------------------------*/

footer{
	font-size: 0.8em;
}

/*------------------------------------------
*	Foot-Navigation
-------------------------------------------*/

.foot-navigation .menu {
	font-size: 0.9em;
}

/*------------------------------------------
*	Foot-Container
-------------------------------------------*/

.foot-container {
	border: 0;
	border-image: linear-gradient(to bottom, #fff, #ccc, #fff) 1 100%;
	border-right: 1px solid;
	float: left;
	margin: 0 0 40px 0;
	padding: 0;
	width: 75%;
}

.feedback, .worktime, .social{ 
	float: left;
	margin: 0;
	padding: 10px 20px 20px 0;
	width: 33.33%;
}

.feedback>div:nth-child(1){ 
	padding: 0 0 20px 0;
}

.feedback div:nth-child(1) p {
	font-size: 1.5em;
	padding: 0;
	margin: 0;
}

.feedback div:nth-child(1) a {
	text-decoration: none;
	font-weight: bold;
	border-bottom: 1px dotted;
}

.feedback div:nth-child(1) a:hover, .feedback div:nth-child(1) a:focus {
	border:0;
}

.feedback .button-skew {
	width: 200px;
}

.feedback .button-skew-link {
	border-bottom: 1px dotted;
	font-size: 1em;
	margin: 3px 12px;
	padding: 0;
	text-decoration: none;
	width: auto;
}

.feedback .button-skew-link::after {
	display: none;
}

.feedback .button-skew-link:hover, .feedback .button-skew-link:focus {
	border: 0;
}

.feedback > div p {
	padding: 40px 0 0 0;
}

.feedback > div p > a {
	color: black;
}

.worktime ul { 
	margin: 0;
	padding: 0 0 10px 0;
}

.worktime ul li {
	padding: 0 0 8px 0;
}

.worktime > div {
	width: 220px;
	height: 70px;
	overflow: hidden;
	background: url(../images/visa-master-logo.png) no-repeat,
				url(../images/webmoney-logo.png) no-repeat;
	background-position: left bottom, 105px bottom;
	background-size: 100px, 100px;		
}

.worktime > div p {
	margin-top: 0;
}

.social ul li{
	margin: 0;
	padding: 0 0 20px 0;	
}
.social ul li::before {
	content: " "; 
	display: block;
	float: left;
	height: 25px;
	padding-right: 10px;
	position: relative;  
	top: -3px;
    width: 25px; 	
}

.social ul li:nth-child(1)::before{
	background: url(../images/facebook-logo.jpg) no-repeat; 
	background-size: contain;	 	
}

.social ul li:nth-child(2)::before{
	background: url(../images/vkontakte-logo.png) no-repeat; 
	background-size: contain;	 	
}

.social ul li:nth-child(3)::before{
	background: url(../images/twitter-logo.jpg) no-repeat; 
	background-size: contain;	 	
}

.social ul li a:hover, .social ul li a:focus{
	text-decoration: none;
}

/*------------------------------------------
*	Footer Aside
-------------------------------------------*/

footer > aside {
	float: left;
	font-size: 0.9em;
	margin: 0 auto;
	padding: 0 0 0 10px;
	width: 25%;
}

footer > aside figure {
	margin: 0 15px 10px 0;
	padding: 0;
}

footer > aside figure img {
	width: 140px;
}

footer>aside p {
	margin: 0;
	padding: 0;
}

footer>aside p data {
	color: #777;
}

/*------------------------------------------
*	@keyframes
-------------------------------------------

@-webkit-keyframes fade {
  from {opacity: .4; visibility: hidden;} 
  to {opacity: 1; visibility: visible;}
}

@keyframes fade {
  from {opacity: .4; visibility: hidden;} 
  to {opacity: 1; visibility: visible;}
}

*/

/*------------------------------------------
*	@media
-------------------------------------------*/

@media only screen and (min-width: 1000px) { /*Set parameters after JS*/
	.dropnav {	
		display: block !important;
	}	
}



@media only screen and (max-width: 1199px){
	
	/*--------------------------------
	*	Info-Box
	---------------------------------*/
	
	.info-box{
		width: 590px;
	}
	
	/*--------------------------------
	*	Info-Aside
	---------------------------------*/
	
	.info-aside {
		width: calc(100% - 590px);
	}		
}



@media only screen and (max-width: 999px){

	body{
		min-height: 3000px;
	}

	/*-------------------------------
	*	Logo
	---------------------------------*/	
	
 	.logo{
		height: 65px;
		width: 130px;
    }
	
	/*-------------------------------
	*	Search
	---------------------------------*/
	
	.search-info {
		font-size: 1.1em;	
		margin-bottom: 15px;
	}
	
	.search-info-phone {
		font-size: 1em;
		font-weight: normal;
	}
	
	.search-info-link {
		margin-left: 10px;
		font-size: 0.75em;
		vertical-align: text-top;
	}
	
	/*-------------------------------
	*	On-line
	---------------------------------*/
	
    .online-help {
		display: none;
	}
	
	/*-------------------------------
	*	Head Top Right
	---------------------------------*/
	
	.head-top-right {
	   font-size: 0.7em;
    }
	
	.entrance-link span:first-child {
	    display: none;
    }

	/*-------------------------------
	*	Entrance
	---------------------------------*/
	
	.entrance-link span:last-child {
	    display: inline;
    }
	
	/*-------------------------------
	*	Buscket
	---------------------------------*/	
	
	.buscket {
		margin-top: 5px;
	}
	
	.buscket-quantity {
		font-size: 1.2em;
		height: 1.2em;
		line-height: 1.2em;
		width: 1.2em;
	}
	
	/*-------------------------------
	*	Head Navigation
	---------------------------------*/
	
	.head-navigation {
		display: none;
	}
	
	/*-------------------------------
	*	Drop Navigation (main)
	---------------------------------*/
	
	.closeBtn{
		display: block;
	}
	
	.dropnav {		
		display: none;
		font-size: 1em;
		height:  100%;
		overflow: auto;
		position: fixed;
		right: 5px;
		top: 5px;
		z-index: 3;	
	}
	
	.dropnav-item {
		float: none;
		width: 260px;		
	}
	
	.dropnav-item-content{ 
		position: relative;
	}
	
	/*-------------------------------
	*	Mobile Navigation (main)
	---------------------------------*/	
	
	.mobnav {
		display: block;
	}
	
	.openBtn {
		display: block; /*For .sales-nav*/
	}
	
	/*--------------------------------
	*	Info-Box
	---------------------------------*/
	
	.info-box{
		float: none;
		margin: 0 auto;
		width: calc(590px + 172px);		
	}
	
	/*--------------------------------
	*	Info-Aside
	---------------------------------*/
	
	.info-aside {
		width: 100%;		
	}			

	/*--------------------------------
	*	Sales Navigation
	---------------------------------*/
	
	.sales-nav-item {
		display: none;
	}
	
	.sales-nav-item.is-active {
		display: block;
	}

	/*--------------------------------
	*	Sales Panels
	---------------------------------*/
	
	.sales-panel {
		border-radius: 0 5px 5px 5px;
	}

	/*--------------------------------
	*	Brands-Block
	---------------------------------*/	
	
	.brands-subblock{/*nav.brands*/
		float: none;	
		width: 100%;
	}
	
	.brands-subblock:first-child .brands-button-block:nth-child(2) .brands-button:nth-child(2), 
	.brands-subblock:first-child .brands-button-block:nth-child(2) .brands-button:nth-child(4){
		border-right: 0;
	}	

	/*--------------------------------
	*	Brandnames-Block
	---------------------------------*/	
	
	.brandnames {
		width: 100%;
	}
	
	/*--------------------------------
	*	Articles
	---------------------------------*/	

	.articles-block article{ /*section.articles article.articles-block article*/
		width: 100%;
	}	
	.articles-block  > article figure{
		float: left;
		width: 25%;
		min-width: 200px;
	}	
	
	/*--------------------------------
	*	Foot-Container
	---------------------------------*/	

	.foot-container {
		border: 0;
		border-bottom: 1px solid #ccc;
	}
	
	.foot-container, footer > aside, .feedback, .worktime, .social {
		width: 100%;
	}
	
	.feedback div:nth-child(1) { 
		float: left;
	}
	
	.feedback div:nth-child(2) {
		float: right;
		width: 220px;
	}
	
	.worktime ul { 
		float: left;
	}
	
	.worktime > div{
		float: right;
	}
	
	.social ul li{ 
		float: left;
		padding-right: 5%;
	}
	
	.social ul li:last-child{
		padding-right: 0;
	}
	
	/*--------------------------------
	*	Footer-Aside
	---------------------------------*/	
	
	footer > aside figure{
		float: left;
	}	
	
}


@media only screen and (max-width: 800px){
	/*--------------------------------
	*	Info-Box
	---------------------------------*/	
	.info-box{
		width: 590px;
	}	
}



@media only screen and (max-width: 599px){ 	

	body{
		min-height: 3100px;
	}

	/*-------------------------------
	*	Logo
	---------------------------------*/	
	
 	.logo{
		height: 75px;
		width: 150px;
    }

	/*-------------------------------
	*	Search
	---------------------------------*/
	
	.search-info-link {
		display: block;
		margin-top: 5px;
		width: 123px;
	}
	
	.search-form-input{
		width: 220px;
	}

	/*-------------------------------
	*	Head Top Right
	---------------------------------*/	
	
	.head-top-right {
	   margin-top: 10px;
    }
	
	/*--------------------------------
	*	Info-Box
	---------------------------------*/	
	
	.info-box{
		width: 100%;
	}	
	
		
}	

@media only screen and (max-width: 499px){ 	

	body{
		min-height: 3350px;
	}
	
}
