.sales {
	margin-bottom: 20px;
	padding: 0;
	position: relative;
}

/*------------------------------------------
*	Sales-Nav
-------------------------------------------*/
.sales-nav {
	position: relative;
	top: 1px;
	z-index: 2;
}

.sales-nav-item {
	float: left;
	&:focus, &:hover{
		border: 1px solid $salesBrdCol;
		border-radius: 5px 5px 0 0;
		border-bottom: 0;
		background-color: white;
		color: $activeRed;
	}
	@include respond-to(max-width, 999px){
		display: none;
	}
	&.is-active{
		background: linear-gradient(to bottom, #fff, #ededed, #fff);
		border: 1px solid $salesBrdCol;
		border-bottom: 0;
		border-radius: 5px 5px 0 0;
		@include respond-to(max-width, 999px){
			display: block;
		}		
	}
	&.is-active .sales-nav-item-link {
		color: $activeRed;
	}
	&.is-active  span{
		border: 0;
	}
}

.sales-nav-item-link {
	color: #105a8f;
	display: block;
	float: left;
	font-family: 'arial', sans-serif;
	font-style: oblique;
	font-size: 18px;
	font-weight: 900;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	span{
		border-bottom: 1px dotted #105a8f;
	}
	&:hover  span, &:focus  span{
		border: 0;
	}	
}

/*------------------------------------------
*	Sales-Mobnav
-------------------------------------------*/
.sales-mobnav{
	background: #ededed;
	border-radius: 4px;
	display: none;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 3;
}

.sales-mobnav-item{
	padding: 5px 5px 5px 30px;
	width: 280px;
	a{
		display: block;
		font-weight: bold;
		height: 100%;
		width: 100%
	}
	&:hover{
		background: #aaa;
	}
	&:hover  a{
		color: #fff;
	}
}

/*------------------------------------------
*	Sales-Panels
-------------------------------------------*/
.sales-panels {
	position: relative;
	height: 340px;
}

.sales-panel{
	background-color: white;
	border: 1px solid $salesBrdCol;
	border-radius: 5px;
	height: 100%;
	left: 0;
	padding-left: 41px;  /*For touch event*/
	padding-right: 41px; /*For touch event*/
	padding-top: 5px;
	position: absolute;
	top: 0;
	width: 100%;
	.button-skew {
		position: absolute;
		right: 5%;	
	}
	@include respond-to(max-width, 999px){
		border-radius: 0 5px 5px 5px !important; //To override JS manipulation
	}
	&.is-active {
		z-index: 1;
	}
	&:first-child.is-active {
		border-top-left-radius: 0 !important; //To override JS manipulation
	}
}

/*------------------------------------------
*	Special Offer Panel 
-------------------------------------------*/
.special-offer{  
	.button-skew  {
		width: 220px;
	}
}

/*---------------------
*	Prev, Next buttons
-----------------------*/
.prev, .next{
	background: transparent;
	cursor: pointer;
	font-size: 50px;
	opacity: 0.3;
	position: absolute;
	text-decoration: none;
	top: 30%;
	&.is-active{
		opacity: 1;
	}	
		&:hover, &:active, &:focus{
		color: #105a8f
	}
}

.prev {
	right: 5px;	
}

.next{
	left: 5px;
}

/*------------------------------------------
*	Offer
-------------------------------------------*/
.special-offer-content{
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.offer{
	height: 100%;
	margin-top: 40px;
}

.offer-item{
	float: left;
	height: 293px;
	left: 0;
	padding: 10px 15px;
	position: relative;
	width: 215px;
	&:first-child .tooltip{
		background: url(../images/computer_bag.jpg) no-repeat,
					url(../images/mouse_wireless.jpg) no-repeat, 
					#fff; 
		background-position: center 5px, center 60px, 0 0;
		background-size: 50px, 60px, contain;	
		border: 1px solid #e46d6d;
		border-radius: 6px;
		color: #000;
		height: 100px;
		position: absolute;
		right: -5px;
		text-indent: $linkAccess;
		top: -5px;
		width: 60px;
		z-index: 1;  
		&::before { 
			border-color: transparent #e46d6d transparent transparent;
			border-style: solid;
			border-width: 6px 10px;
			content: "";
			left: -20px;
			position: absolute; 
			top: 20px;
		} 
		&::after { 
			border-color: transparent #fff transparent transparent;
			border-style: solid;
			border-width: 5px 9px;
			content: "";
			left: -18px;
			position: absolute; 
			top: 21px;
		} 
	}
}

.attention{
	@include transform($tr: rotate(-15deg));
	background: $activeRed;
	border-radius: 50%;
	font-style: italic;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	height: 32px;
	left: 0px;
	line-height: 30px;
	padding: 1px 4px;
	position: absolute;
	top: 4px;
	z-index: 1;
}

.offer-img{
	padding-bottom: 10px;
	position: relative;
	height: 160px;
	img{
		@include transform($tr: translateX(-50%));
		left: 50%;
		position: relative;
		width: 160px;
	}
	figcaption{
		bottom: 10px;
		color: $activeRed;
		font-size: 12px;
		position: absolute;
	}
}

.offer-link{
	display: block;
	font-size: 13px;
	font-weight: bold;
	padding: 5px 0;
}

.previuos-price{
	color: #999;
	font-size: 13px;
	font-weight: 700;
	padding: 5px 0;	
	text-decoration: line-through;
}

.to-buscket{
	@include transform($tr: skewX(-15deg));
	background: linear-gradient(to bottom, #fff 20%, #f2f3f3, #fff);
	border-radius: 6px 2px;
	border-width: 1px;
	font-weight: 700;
	left: -8px;
	padding-left: 10px;
	padding-right: 35px;
	position: relative;
	text-align: left;
	span{
		font-size: 18px;
	}
	&::after{
		background: url(../images/shopping-cart-1_318-10653.png) no-repeat; 
		background-size: contain;	
		content: " ";  
		display: block;
		height: 16px;
		right: 8px;
		position: absolute;
		top: 15%;
		width: 18px;	
	}
	&:hover, &:focus{
		border-color: #aaa;
		cursor: pointer;
		box-shadow: none;
	}	
}

.dollar-price{
	color: #999999;
	font-size: 11px;
}

/*------------------------------------------
*	Bestsellers Panel 
-------------------------------------------*/
.bestsellers .button-skew {
	width: 170px;
}

/*------------------------------------------
*	New-Product Panel 
-------------------------------------------*/
.new-product .button-skew {
	width: 135px;
}

/*------------------------------------------
*	Soon Panel 
-------------------------------------------*/
.soon .button-skew {
	width: 180px;
}