.brands{
	border-bottom: 1px solid #ccc;
	margin: 40px 0;
	padding: 0 0 40px 0;
	.button-skew{
		float: right;
		margin-right: 5%;
		width: 185px;
	}
	& > h5{
		margin-top: 0;
	}
}

/*------------------------------------------
*	Brands-Block
-------------------------------------------*/
.brands-block{ 
	margin: 0 0 40px 0;
	padding: 0;
	position: relative;
}

.brands-subblock{
	float: left;
	width: 50%;
	&:last-child .brands-button-block:last-child .brands-button:nth-child(2n){
		border-right: 0;
	}
	
	$pefixes: first, last;
	@each $prefix in $pefixes {
		@for $i from 1 through 2 {
			@for $j from 1 through 4 {		
				&:#{$prefix}-child {
					.brands-button-block:nth-child(#{$i}){
						.brands-button:nth-child(#{$j}) .brands-button-link{
							background: url(../images/logo-#{$prefix}-#{$i}#{$j}.png) center no-repeat;
							background-size: contain;
						}					
					}
				}	
				
			}
		}
	}
	
	@include respond-to(max-width, 999px){
		float: none;	
		width: 100%;
		&:first-child .brands-button-block:nth-child(2) .brands-button:nth-child(2), 
		&:first-child .brands-button-block:nth-child(2) .brands-button:nth-child(4){
			border-right: 0;
		}	
	}
}

.brands-button-block{ 
	margin: 0;
	float: left;
	width: 50%;
	height: 128px;
}

.brands-button{
	border: 0; //For Safari
	@include borderImage( linear-gradient(#fff, #ccc) 1 ); 
	border-right: 1px solid #ccc; // #ccc if border-image is not working
	float: left;
	height: 64px;
	padding: 0;
	position: relative;
	width: 50%;
	&:nth-child(3),	&:nth-child(4){
		@include borderImage( linear-gradient(to top, #fff, #ccc) 1 ); 
	}
	&:nth-child(1), &:nth-child(2){
		border-bottom: 1px solid #ccc;
	}	
}

.brands-button-link{
	display: block;
	height: 90%;
	//margin: auto;
	max-width: 130px;
	padding: 0;
	position: absolute;
	left: 50%;
	text-indent: $linkAccess;
	top: 50%;
	@include transform( translate(-50%, -50%) );
	width: 90%;
	&:hover, &:focus{
		border: 1px solid #ccc;
	}
}